<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" (click)="goo()">Go</ion-button>
    <ion-button color="primary" (click)="getcode()">Get Code</ion-button>
    <ion-button color="primary" (click)="copied1()">Copied1</ion-button>
    <ion-button color="primary" (click)="copied()">Copied</ion-button>
  </div>
</ion-content>
